@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hero_text_sm{
      @apply hero_text text-[#FF6D6D] font-normal text-[20px] md:text-[35px]
    }
    .big_btn{
        @apply py-3 px-6 rounded-full text-[14px]
    }
    .text_shippori{
        @apply hero_text_big text-[20px] lg:text-[35px] xl:text-[35px] 2xl:text-[40px] font-extrabold text-[#2E4049]
    }
    .progress_container{
        @apply bg-[#C5CECC] relative rounded-full py-[3px]
    }
    .progress{
        @apply bg-[#FF6D6D] absolute top-0 rounded-full h-[100%] w-[75%]
    }
}

*{
    font-family: 'Work Sans', sans-serif;
}

.hero_text{
    font-family: 'Sue Ellen Francisco', cursive;
}
.hero_text_big{
    font-family: 'Shippori Mincho', serif;
}